.priority_table {
  table-layout: auto !important;
  width: 0% !important;
}
.priority_table, .priority_table th, .priority_table td {
  border: 1px solid black;
  border-collapse: collapse;
}
.priority_table th, .priority_table td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  text-align: left;
  white-space: nowrap;
}
.priority_table th.current_phase {
  background-color: black;
  color: white;
}
.priority_table th:not(.current_phase) {
  background-color: #bbbbbb;
  color: #ffffff;
}
.priority_table td:not(.current_phase) {
  background-color: #ffffff;
  color: #bbbbbb;
}
.current_phase.must {
  background-color: #ff0000;
  color: #ffffff;
}
.current_phase.should {
  background-color: #eea000;
  color: #ffffff;
}
.current_phase.could {
  background-color: #ffff00;
  color: #000000;
}
.current_phase.wont {
  background-color: #ffffff;
  color: #000000;
}
